# Xcode
*.xcworkspacedata
!default.xcworkspacedata
*.xcuserstate
xcuserdata/
*.xcscheme
!default.xcscheme
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Build artifacts
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
